<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="../../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<div th:include="clientView/fragments::navigation"></div>
<div class="row">
    <div class="col-lg-5" style="margin-left: 30%;margin-right: 30%">
        <form th:object="${panier}" th:action="@{/catalog/order}" method="post">
            <div th:if="${errors}">
                <p th:text="${erreurMsg}"></p>
            </div>
            <legend>Panier</legend>
            <table>
                <tr>
                    <th>Ouvrage</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
                <tbody th:each="panier, rowStat : *{lignesCommande}" th:class="${rowStat.even ? 'even' : 'odd'}">
                <td><input type="hidden" th:field="*{lignesCommande[__${rowStat.index}__].ouvrage.id}"/></td>
                <td><input type="hidden" th:field="*{lignesCommande[__${rowStat.index}__].ouvrage.quantiteDispo}"/></td>
                <tr>
                    <td><input type="text" th:field="*{lignesCommande[__${rowStat.index}__].ouvrage.titre}"
                               readonly="readonly"/></td>
                    <td><input type="text" th:field="*{lignesCommande[__${rowStat.index}__].quantite}"/></td>
                    <td><input type="text" th:field="*{lignesCommande[__${rowStat.index}__].prix}" readonly="readonly"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-info" th:href="@{/catalog/order}">Passer une commande</button>
        </form>
    </div>
</div>

<hr/>
<div th:include="clientView/fragments::footer"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../static/js/jquery-1.11.2.min.js" th:href="@{/js/jquery-1.11.2.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>
