<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>

<body>
<div class="container">
    <div class="row">
        <div th:if="${!map.get('auteurs').isEmpty()}">
            <legend>Auteur(s) inexistant(s) dans la base données : </legend>
            <div th:each="auteur : ${map.get('auteurs')}">
                <div>
                    <p th:text="${auteur.nom}"></p>
                </div>
            </div>
            <p>Vous pouvez donner le reste des informations concernants les auteurs ultérieurement</p>
        </div>
    </div>
    <div class="row">
        <div th:if="${!map.get('categories').isEmpty()}">
            <legend>Categorie(s) inexistante(s) dans la base données :</legend>
            <div th:each="categorie : ${map.get('categories')}">
                <div>
                    <p th:text="${categorie.titre}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:if="${map.get('editeur')!=null}">
            <legend>Editeur inexistant- dans la base données :</legend>
            <div>
                <p th:text="${map.get('editeur').nom}"></p>
            </div>
        </div>
    </div>


    <div class="row">
        <form method="post" th:action="@{/ajoutOuvrageACE}">
            <p>Voulez vous rajouter les elements inexistants dans la base de données</p>
            <button id="confirm" type="submit" class="btn btn-default" th:href="@{/ajoutOuvrageACE}">Confirmer</button>
            <button id="confirm" type="submit" class="btn btn-default" th:href="@{/listOuvrages}">Annuler</button>
        </form>
    </div>



</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.2.min.js" th:href="@{js/jquery-1.11.2.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js" th:href="@{js/bootstrap.js}"></script>
</body>
</html>
