<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
<div th:include="administratorView/fragments::navigation"></div>

<div class="container" style="margin-top: 2%">
    <legend>Ajouter un editeur</legend>

    <form class="form-horizontal" method="post" th:action="@{/editeur/save}" th:object="${editeur}">
        <div class="row">
            <div class="col-md-4 col-md-offset-1">

                <input type="hidden" class="form-control" name="id" id="id"
                       th:field="*{id}"/>

                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Entrez le nom de l'auteur"
                           th:field="*{nom}"/>

                    <p th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></p>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-9">
                <button type="submit" class="btn btn-info" th:href="@{/editeur/save}">Confirmer</button>
                <button type="reset" class="btn btn-info">Annuler</button>
            </div>
        </div>
    </form>
</div>

<hr/>
<div th:include="administratorView/fragments::footer"></div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../static/js/jquery-1.11.2.min.js" th:href="@{/js/jquery-1.11.2.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>