<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#inverseNavbar1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="#">JeBouquine</a></div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="inverseNavbar1">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/list}">Ouvrage<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Auteur</a></li>
                <li><a href="#">Maison d'edition</a></li>
                <li><a href="#">Theme</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="row">
    <div class="col-lg-3" style="margin-left: 2%">
        <div class="form-group">
            <input type="text" id="search"/>
            <button style="margin: 1%" type="submit" class="btn btn-toolbar" th:onclick="'javascript:getMotCle();'">Rechercher
            </button>
        </div>
        <a th:href="@{/formI}" style="margin: 1.5%">
            <button class="btn btn-toolbar">Ajouter un ouvrage</button>
        </a>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-sm-4 text-center" th:each="ouvrage : ${ouvrages}">
                <div class="thumbnail"><img th:src="${ouvrage.getImageAsText()}" style="margin-bottom:10px"/>

                    <p th:text="${ouvrage.titre}"></p>
                    <a th:href="@{/ouvrage/details(id=${ouvrage.id})}">
                        <button class="btn btn-toolbar" style="margin: 1%">Details</button>
                    </a>
                    <a th:href="@{/ouvrage/formU(id=${ouvrage.id})}">
                        <button class="btn btn-toolbar" style="margin: 1%">Modifier</button>
                    </a>
                    <a th:href="@{/ouvrage/delete(id=${ouvrage.id})}">
                        <button class="btn btn-toolbar" style="margin: 1%">Supprimer</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<hr/>
<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Copyright © Je bouquine. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    function getMotCle() {
        motcle = document.getElementById("search").value;
        document.location = "http://localhost:8080/ouvrage/search?keyWord=" + motcle;
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../static/js/jquery-1.11.2.min.js" th:href="@{/js/jquery-1.11.2.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>
