<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>
<div th:include="administratorView/fragments::navigation"></div>
<div class="row">
    <div class="col-lg-3" style="margin-left: 1%">
        <div class="form-group">
            <input type="text" id="search"/>
            <button style="margin: 1%" type="submit" class="btn btn-toolbar" th:onclick="'javascript:getMotCle();'">
                Rechercher
            </button>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>CIN</th>
                    <th>Numero passeport</th>
                    <th>Adresse</th>
                    <th>Date d'inscription</th>
                </tr>
                </thead>
                <tbody th:each="client : ${clients}">
                <tr>
                    <th scope="row" th:text="${client.id}"></th>
                    <td th:text="${client.login}"></td>
                    <td th:text="${client.email}"></td>
                    <td th:text="${client.nom}"></td>
                    <td th:text="${client.prenom}"></td>
                    <td th:text="${client.cin}"></td>
                    <td th:text="${client.numeroPasseport}"></td>
                    <td th:text="${client.adresse}"></td>
                    <td th:text="${client.dateInscription}"></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr/>
<div th:include="administratorView/fragments::footer"></div>

<script type="text/javascript">
    function getMotCle() {
        motcle = document.getElementById("search").value;
        document.location = "http://localhost:8080/client/search?keyWord=" + motcle;
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../static/js/jquery-1.11.2.min.js" th:href="@{/js/jquery-1.11.2.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>
