<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap - Prebuilt Layout</title>
    <!-- Bootstrap -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:fragment="navigation">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#inverseNavbar1">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#">JeBouquine</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="inverseNavbar1">
                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{../ouvrage/list}">Ouvrage<span class="sr-only">(current)</span></a>
                    </li>
                    <li><a th:href="@{../auteur/list}">Auteur</a></li>
                    <li><a th:href="@{../editeur/list}">Maison d'edition</a></li>
                    <li><a th:href="@{../categorie/list}">Theme</a></li>
                    <li><a th:href="@{../client/list}">Client</a></li>
                    <li><a th:href="@{../commande/list}">Commande</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{../admin/logout}">Log Out</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="footer">
    <footer class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © Je bouquine. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>